.currencies-label {
    padding: 5px 50px 5px 20px;
    border: 1px solid rgb(146, 142, 142);
    background-color: #ccc;
    text-transform: uppercase;
    display: block;
    position: relative;
    cursor: pointer;
    color: rgb(12, 12, 158);
    width: 100px;

    &:hover {
        background-color: rgb(142, 142, 142);
    }
}

.currencies-item {
    display: block;
}

.checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    height: 10px;
    width: 10px;
    border-radius: 2px;
    border: 1px solid rgb(146, 142, 142);
}

.currencies-label:hover .checkbox ~ .checkmark {
    border: 1px solid rgb(83, 82, 82);
}

.currencies-label .checkbox:checked ~ .checkmark {
    border: 1px solid rgb(146, 142, 142);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.currencies-label .checkbox:checked ~ .checkmark:after {
    display: block;
}

.currencies-label .checkmark:after {
    left: 1px;
    top: 1px;
    width: 4px;
    height: 7px;
    border: solid red;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.currencies-label.bg-white {
    background-color: #fff;
}